<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="FitTrade"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fittrade"
        tools:targetApi="31">
        <activity
            android:name=".trainer_show"
            android:exported="false" />
        <activity
            android:name=".doctor_show"
            android:exported="false" />
        <activity
            android:name=".seller_show"
            android:exported="false" />
        <activity
            android:name=".seller_profile"
            android:exported="false" />
        <activity
            android:name=".seller_bio"
            android:exported="false" />
        <activity
            android:name=".trainer_profile"
            android:exported="false"
            android:parentActivityName=".trainer_show"/>
        <activity
            android:name=".Trainer_Bio"
            android:exported="false" />
        <activity
            android:name=".Trainer_bio"
            android:exported="false" />
        <activity
            android:name=".doc_bio"
            android:exported="false" />
        <activity
            android:name=".doc_profile"
            android:exported="false"
            android:parentActivityName=".doctor_show"/>
        <activity
            android:name=".select_user"
            android:exported="false" />
        <activity
            android:name=".carousel"
            android:exported="false" />
        <activity
            android:name=".sellersignup"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:exported="false"
            android:parentActivityName=".Choose_prog"/>
        <activity
            android:name=".exercise_provide"
            android:exported="false" />
        <activity
            android:name=".BMI_display"
            android:exported="false" />
        <activity
            android:name=".Choose_prog"
            android:exported="false" />
        <activity
            android:name=".BMI_calculation"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Fittrade_mainpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>